# RISCV Tool Binaries
**/riscv-tools/**

# Build directories
**/spike/**
**/bins/**
**/dumps/**
**/runs/**
**/dists/**

# Build files
*.pyc
*.trace
*.log
*.stats
*.json
trace/
stats/
docs/

# Temporary files
_temps

# Python cache
# **/__pycache__/****/__pycache__/**
__pycache__

# Ignore flag on files
_ignore*.*

# Plans and TODOs
plans.md
todo.md
structure.md

# Test files
testing-asms
